<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário Moderno</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
</head>
<body>
    <div class="container">
        <h1>Formulário Moderno</h1>
        <form method="post" action="/analisar">
            <div class="form-group">
                <label for="inputText">Digite algo:</label>
                <input type="text" name="code" id="code" size="50" required/>

            </div>
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>
